.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 20px;
  font-size: 50px;
  color: rgb(70, 152, 158);
  font-weight: bold;
  font-family: Avenir;
}
